




















requirements.txt · csalabs/Replicate-7b-chat-Llama-streamlit at 18149dac88d16cdd6fab845028afd335bb827a70






Hugging Face







					Models

					Datasets

					Spaces

					Docs




			Solutions
		

Pricing
			






Log In
				
Sign Up
					



Spaces:


csalabs
/
Replicate-7b-chat-Llama-streamlit



like
0

			Runtime error
			








			App
			
			
		
Files
Files

			Community
			
			
		












			18149da
		

Replicate-7b-chat-Llama-streamlit


File size: 193 Bytes
			
6d14bdc
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
18149da
123456789101112131415161718
langchain
torch
accelerate
sentence_transformers
streamlit_chat
streamlit
faiss-cpu
tiktoken
ctransformers
huggingface-hub
pypdf
pypdf2
python-dotenv
replicate
docx2txt
streamlit_chat
chromadb

Company
© Hugging Face
TOS
Privacy
About
Jobs

Website
Models
Datasets
Spaces
Pricing
Docs







