





















requirements.txt · csalabs/Replicate-7b-chat-Llama-streamlit at afb085f1b07e253e3304b0464527395f17f65203






Hugging Face







					Models

					Datasets

					Spaces

					Docs




			Solutions
		

Pricing
			






Log In
				
Sign Up
					



Spaces:


csalabs
/
Replicate-7b-chat-Llama-streamlit



like
0

			Runtime error
			








			App
			
			
		
Files
Files

			Community
			
			
		












			afb085f
		

Replicate-7b-chat-Llama-streamlit
/
requirements.txt


csalabs
					

Update requirements.txt
afb085f
3 months ago


							raw
						
							history
						
							blame
						


							No virus
						
224 Bytes




langchain


torch


accelerate


sentence_transformers


streamlit_chat


streamlit


faiss-cpu


tiktoken


ctransformers


huggingface-hub


pypdf


pypdf2


python-dotenv


replicate


docx2txt


streamlit_chat


chromadb


unstructured[pdf]


unstructured














